

#h1Style{
  background-color: rgb(15, 181, 223);
  border-radius: 50px;
  border : 10px solid lightskyblue
  }
  
  #h3Style{
  background-color: rgb(241, 79, 141);
  border-radius: 50px;
  border : 10px solid lightpink
  }
  
  .hiraganaBox{
  background-color: sandybrown;
  border-style: inherit;
  border-radius: 30px 30px 30px 30px;
  border-width: 7px;
  margin : 0px;
  }
  
  .gatakanaBox{
  background-color: lightgreen;
  border-style: inherit;
  border-radius: 30px 30px 30px 30px;
  border-width: 7px;
  margin : 0px;
  } 