

:BoxStyle{
   --boxbackGroundColor: pink;
   --boxBorderColor: lightcoral;
   --boxBorderStyle: groove;
   --boxBorderWidth: 5px;
   --boxMarginSize: 0px;
}

/*
body{
   margin : 0px;
   background-color: rgb(240, 222, 225);
    }
 */

 .headStyle{
    background-color: violet;
    border-color: rgb(211, 50, 112);
    border-style :inset;
    border-width: 4px;
    text-align: center;
    margin : 1.5px;
     }
 
 .p1,.p2,.p3{
    margin : 3px;
    border : 5px;
    border-bottom-style: initial;
    }
        
 .positionCenter{
    text-align : center;
    margin : 0;
     }
        
 .lineStyle{
    border-style: double;
    color: violet;
    border-width: 7px;
    margin : 0;
    }
        

   /* 
 .choiceBox{
     background-color: pink;
     border-color: lightcoral;
     border-style: groove;
     margin : 0px;
     border-width: 5px;
     padding-left: 5px;
    }
 
 .JPlistInfo{
    background-color: pink;
    border-color : lightcoral;
    border-style: groove;
    margin : 0;
    border-width: 5px;
    padding-left: 10px;
    padding-bottom: 1px;
    list-style-type: square;
    list-style-position: inside;
    }
    */

    .choiceBox{
      background-color: var(--boxbackGroundColor);
      border-color: var(--boxBorderColor);
      border-style: var(--boxBorderStyle);
      border-width: var(--boxBorderWidth);
      margin: var(--boxMarginSize);
      padding-left: 5px;
    }


    .JPlistInfo{
      background-color: var(--boxbackGroundColor);
      border-color: var(--boxBorderColor);
      border-style: var(--boxBorderStyle);
      border-width: var(--boxBorderWidth);
      margin: var(--boxMarginSize);
      padding-left: 10px;
      padding-bottom: 1px;
      list-style-type: square;
      list-style-position: inside;
    }


    .putImage{
       background-color: none;
       background-image: url(cherryblossomflower.jpg);
       background-repeat: repeat-x;
       background-size: cover;
       border-style: groove;
       border-color: blueviolet;
       border-width: 2px;
       width: 670px;
       height: 50px;
      }
 
 